<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

  <meta name="description" content="Yatu Bot - is just a Discord bot that you need." />
  <meta name="keywords" content="expo, Yatu Bot, expobot, bot, discord, discord bot, discord.js, discord.js bot, discord.js bot example, jarvis" />
  <meta name="author" content="jarvis" />
  <link rel="shortcut icon" href="https://cdn.glitch.com/08ac8607-17a3-446d-ad3d-8b8032f0be08%2F9a49e329-b798-432e-9f5a-403f944aeabd.image.jpeg?v=1581613314115">

  <title>Yatu Bot | Home.yamen</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="materialize.css">
  <link rel="stylesheet" href="animate.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.min.css" />

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.min.js"></script>
  <script src="script.js"></script>
</head>

<style>
  
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #111;
    color: white;
  }
  
</style>

<body>

  <!-- Global full div -->
  <div class="full hidden">

    <div class="navbar-fixed">
      <nav class="blackFade z-depth-1" role="navigation">
        <div class="nav-wrapper container">
          <!-- Icons -->
          <a href="/" class="left valign-wrapper hide-on-med-and-down" style="height: 100%;">
            <img style="height: 80%;" src="https://cdn.glitch.com/08ac8607-17a3-446d-ad3d-8b8032f0be08%2F9a49e329-b798-432e-9f5a-403f944aeabd.image.jpeg?v=1581613314115">
          </a>
          <a href="/" class="right hide-on-large-only valign-wrapper animated fadeIn" style="height: 100%;">
            <img style="height: 80%;" src="https://cdn.glitch.com/08ac8607-17a3-446d-ad3d-8b8032f0be08%2F9a49e329-b798-432e-9f5a-403f944aeabd.image.jpeg?v=1581613314115">
          </a>

          <!-- Nav -->
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="/" class="f waves-effect waves-light white-text" style="font-weight: 900; box-shadow: 0 -4px 0 -1px #fff inset;">Home YATU</a>
              <a href="/commands" class="f waves-effect waves-light white-text">Commands</a>
              <a href="https://discord.gg/ZZ8HuCZ" target="_blank" class="f waves-effect waves-light white-text">Server</a>
              <a href="https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot', 'newwindow', 'width=500,height=800'); return false;" class="waves-effect waves-light btn-flat white-text center" style="border-style: solid; border-width: 2px; border-radius: 5px; border-color: white;">INVITE ME</a>
            </li>
          </ul>

          <a href="#" data-target="nav-mobile" class="sidenav-trigger left animated fadeIn">
            <i class="material-icons white-text">menu</i>
          </a>
        </div>
      </nav>
    </div>
    <!-- particles.js container -->
    <div id="particles-js" class="animated fadeIn">
    </div>
    <!-- Nav-mobile -->
    <ul id="nav-mobile" class="sidenav black-gradient z-depth-0">
      <li>
        <a href="/" class="f waves-effect waves-light white-text" style="font-weight: 900; box-shadow: 4px 0px 0 -1px #fff inset;">Home YATU</a>
        <a href="/commands" class="f waves-effect waves-light white-text">Commands</a>
        <a href="https://discord.gg/ZZ8HuCZ" target="_blank" class="f waves-effect waves-light white-text">Community</a>
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot', 'newwindow', 'width=500,height=800'); return false;" class="waves-effect waves-light btn-flat white-text center" style="border-style: solid; border-width: 2px; border-radius: 5px; border-color: white;">INVITE</a>
      </li>
    </ul>

    <!-- Pages -->
    <div class="fullpage">
      
      <!-- Section 1 | Intro -->
      <div class="header-wrapper section" style="background: transparent">
        <div class="txt">
          <h2 class="center white-text animated fadeInUp">Yatu Bot</h2>
          <p class="center white-text animated fadeInUp">YAMEN</p>
          <a href="https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot', 'newwindow', 'width=500,height=800'); return false;" class="animated fadeInUp waves-effect waves-light btn-flat white-text center" style="border-style: solid; border-width: 2px; border-radius: 5px; border-color: white;">INVITE</a>
        </div>
      </div>
      
      <!-- Section 2 | Management -->
      <div class="row section">
        <div class="col s12 m6 valign-wrapper" style="height: 100%; color: black;">
          <div class="container">
            <h1 class="center" style="font-weight: 600;">Management</h1>
            <p class="flow-text">YAAAAAAMEN</p>
            <p class="flow-text">YAAAAAAMEN</p>
          </div>
        </div>
        <div class="col s12 m6 valign-wrapper center" style="height: 100%; color: black;">
          <div class="container">
            <img class="responsive-img bouncing" src="https://images-ext-1.discordapp.net/external/-YzSj5COvxfFytzJBn-TgRpAaoWdVb4TcPqkC7i56Bg/https/cdn.discordapp.com/avatars/627277383048626176/a_86c2a6f053732c68a1bac5e4f678c648.gif" style="margin-right: 50px; animation-delay: 0.75s;">
            <img class="responsive-img bouncing" src="https://cdn.glitch.com/75da8515-8d0f-4ec2-98db-b7ec2beb249d%2FSketch%20(3).png?1535884149467" style="margin-right: -100px;">
          </div>
        </div>
      </div>
      
      <!-- Section 3 | About -->
      <div class="row section">
        <div class="col s12 m6 valign-wrapper" style="height: 100%; float: left; color: white;">
          <div class="container">
            <h1 class="center" style="font-weight: 600;">JOIN DISCORD</h1>
             <a href="https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=464747957288435732&permissions=8&scope=bot', 'newwindow', 'width=500,height=800'); return false;" class="animated fadeInUp waves-effect waves-light btn-flat white-text center" style="border-style: solid; border-width: 2px; border-radius: 5px; border-color: white;">JOIN</a>
          </div>
        </div>
        <div class="col s12 m6 valign-wrapper" style="height: 100%; float: right; color: white;">
          <div class="container">
            <h1 class="center">About</h1>
            <p class="flow-text" style="color:gray"><ins>DEV: YAMEN</ins></p>
            <ul> 
              <li>yamen</li>
              <li>yamen</li>
              <li>yamen</li>
            </ul>
          </div>
        </div>
      </div>
      
    </div> <!-- Pages div end -->

  </div> <!-- Full div end -->

  <script src="particles.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="scriptParticles.js"></script>

</body>

</html>
